.cardBox {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-md);
}

.cardBox picture {
  position: relative;
  height: 256px;
}

.cardBox h2 {
  line-height: 1.25;
}

.cardBox picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.contentBox {
  min-height: 128px;
}

.contentBox p {
  font-size: var(--font-size-sm);
  opacity: var(--opacity);
}

.footerBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: var(--opacity);
}

.footerBox .readBox {
  width: max-content;
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  font-size: var(--font-size-sm);
}

.readBox svg {
  width: 14px;
  height: 14px;
}
