.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);
  margin: var(--spacing-xxl) 0;
}

.pagination button,
.pagination option,
.pagination select {
  padding: 4px 8px;
}

.currentPage,
.pageLocator {
  color: var(--white);
}
