.entryMiniContainer {
    display: flex;
    flex-direction: column;
    border-radius:var(--border-radius);
    width: 100%;
    height: 92px;
    overflow: hidden;
    padding: 0px 12px 12px 12px;
  }
  
  .snippetText {
    font-weight: 500;
    font-size: var(--font-size-sm);
    color: var(--white);
    margin-bottom: 8px;
    opacity: 0.9;
  }
  
  .infoContainer {
    color: var(--faded-white);
    display: flex;
    gap: var(--spacing-base);
    margin-left: auto;
    font-size: var(--font-size-sm);
  }
  