.container {
  background-color: var(--soft-dark);
  border-radius: var(--border-radius);
  padding: var(--spacing-xl);
  color: var(--white);
  background-color: none;
  min-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-xl);
}

.container :global(.ProseMirror) {
  font-family: inherit;
  line-height: inherit;
  min-height: 192px;
}

.container :global(.ProseMirror) ::selection {
  background-color: rgba(100, 149, 237, 0.3);
}

.content em {
  font-style: italic;
}

.content h1 {
  font-size: var(--font-size-xl);
}

.content h2 {
  font-size: var(--font-size-lg);
}
.content h3 {
  font-size: var(--font-size-md);
}
.content h4 {
  font-size: var(--font-size-base) * 1.18;
}

.content h5 {
  font-size: var(--font-size-base) * 1.1;
}

.content a {
  color: var(--orange) !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}

.content blockquote {
  border-left: 3px solid var(--faded-white);
  margin: var(--spacing-xxl) 0;
  padding-left: var(--spacing-lg);
}

.content ul li::marker {
  content: '•';
  font-size: inherit;
  color: var(--white);
  unicode-bidi: isolate;
  padding-right: var(--spacing-md);
  font-variant-numeric: tabular-nums;
}

.content ol li::marker {
  content: counter(item) '. ';
  font-size: inherit;
  padding-right: var(--spacing-md);
  color: var(--white);
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
}

.content ul,
.content ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
}

.content hr {
  width: 100%;
  border: 0.5px solid var(--faded-white);
}
