.cardBox {
  display: flex;
  height: 300px;
  max-height: max-content;
  gap: var(--spacing-4xl);
  border-top: 1px solid var(--faded-white);
  border-bottom: 1px solid var(--faded-white);
  transition: background-color 0.1s ease-in-out;
}

.cardBox:hover {
  background-color: var(--dark-theme-hover-color);
}

.imageBox {
  width: 275px;
  height: 100%;
}
.imageBox picture {
  position: relative;
  display: inline-block;
}

.imageBox img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.title {
  margin: 0;
}

.contentBox {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-base);
  padding: var(--spacing-base) var(--spacing-xl);
}

.cardFooter {
  margin-top: auto;
  display: flex;
}

.horizontalBox {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-sm);
}

.infoBox {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: var(--spacing-xl);
  font-size: var(--font-size-sm);
}

.infoBox svg {
  width: 14px;
  height: 14px;
  opacity: var(--opacity);
}

.readmoreBox {
  display: flex;
  align-items: center;
  gap: 4px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.readmoreBox:hover {
  color: var(--orange);
}

.readmoreBox svg {
  transition: transform 0.1s ease-in-out;
}

.readmoreBox:hover svg {
  transform: translateX(8px);
}

.labelBox {
  display: flex;
  align-items: center;
  font-size: var(--font-size-sm);
  width: max-content;
  column-gap: var(--spacing-sm);
}

.labelBox svg {
  width: 14px;
  height: 14px;
}

@media screen and (max-width: 768px) {
  .cardBox {
    flex-direction: column;
    gap: var(--spacing-xl);
    height: auto;
    overflow: hidden;
    border-top: 0;
    border-bottom: 0;
    padding: var(--spacing-sm);
    padding: 0;
  }

  .cardBox:hover {
    background-color: transparent;
  }

  .imageBox {
    width: 100%;
    height: 256px;
  }

  .contentBox {
    gap: var(--spacing-xl);
    font-size: var(--font-size-sm);
    padding: 0;
  }

  .contentBox h2 {
    line-height: 1.25;
  }

  .infoBox {
    gap: var(--spacing-lg);
  }

  .infoBox svg {
    width: 14px;
    height: 14px;
  }

  .readmoreBox {
    font-size: var(--font-size-sm);
  }

  .readmoreBox svg {
    width: 16px;
    height: 16px;
  }

  .cardFooter {
    margin-top: var(--spacing-lg);
  }
}
