.cardBox {
  display: flex;
  gap: var(--spacing-xl);
  width: 100%;
  height: 128px;
}

.cardBox figure {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardBox figure picture {
  width: 100%;
  height: 100%;
  position: relative;
}

.cardBox figure picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.cardContent {
  font-size: var(--font-size-sm);
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-base);
  justify-content: space-between;
}

.cardContent h3,
.cardContent span {
  line-height: 1.25;
}

.cardContent span {
  margin-top: auto;
  font-size: var(--font-size-sm);
  opacity: var(--opacity);
  align-self: flex-start;
}

@media screen and (max-width: 768px) {
  .cardContent h3 {
    font-size: var(--font-size-base);
  }
}
