.cardBox {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-xl);
  padding: var(--spacing-lg);
  background-color: var(--soft-dark);
  border-radius: var(--border-radius);
  border: 2px solid var(--faded-white);
  overflow: hidden;
  min-height: 300px;
  z-index: 0;
  user-select: none;
}

.cardBox::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/img/contact-form.webp');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease, background-position 0.3s ease, filter 0.3s ease;
  filter: brightness(0.5);
  z-index: 1;
  pointer-events: none;
  border-radius: inherit;
}

.cardBox:hover::before {
  background-size: 110%;
  filter: brightness(0.67);
}

.cardBox > * {
  position: relative;
  z-index: 2;
}

.cardBox .headerBox {
  font-size: var(--font-size-lg);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoBox {
  width: 64px;
  height: 64px;
  max-width: max-content;
}

.logoBox svg {
  width: 100%;
  height: 100%;
  color: var(--white);
}

.platformBox p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.platformBox span {
  color: var(--orange);
  font-weight: 600;
}

.cardBox:hover {
  border-color: var(--orange);
}
