.analyticBox {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-xl);
  opacity: var(--opacity);
  transition: opacity 0.3s ease-in-out;
  margin: auto;
  align-items: center;
}

.analyticBox svg {
  opacity: var(--opacity);
  color: var(--white);
  width: 64px;
  height: 64px;
  transition: opacity 0.3s ease-in-out;
}

.analyticBox:hover,
.analyticBox svg:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .analyticBox {
    text-align: center;
  }
}
