/* ---General Styles --- */

.highlightText {
  color: var(--orange);
}

.formBox {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-sm);
  background-color: var(--soft-dark);
  padding: var(--spacing-md) var(--spacing-xl);
  border-radius: var(--border-radius);
  margin: var(--spacing-xxl) 0;
  max-width: 576px;
}

.formBox button {
  margin: var(--spacing-md) 0;
}

.warningBox {
  display: flex;
  align-items: center;
  font-size: var(--font-size-sm);
  gap: var(--spacing-sm);
}

.warningBox svg {
  width: 14px;
  height: 14px;
}
