.tabBarWrapper {
  position: relative;
  width: 100%;
  border-bottom: 2px solid var(--faded-white);
  user-select: none;
  margin: var(--spacing-xl) 0;
}

.tabBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.tabItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-lg);
  cursor: pointer;
  transition: color 0.2s ease, opacity 0.2s ease;
  opacity: var(--opacity);
  flex: 0 0 20%;
}

.tabItem:hover {
  opacity: 1;
}

.tabItem.active {
  color: var(--white);
  opacity: 1;
}

.animationContainer {
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  background-color: var(--orange);
  transform: translateX(0%);
  transition: transform 0.2s ease-in-out;
  border-radius: var(--border-radius);
}

.tabBarWrapper .innerBox {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-base);
  width: 100px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .tabBarWrapper {
    border-bottom: none;
  }
  .tabBox {
    flex-direction: column;
    row-gap: var(--spacing-lg);
  }
  .tabItem {
    border: 1px solid var(--faded-white);
    border-radius: var(--border-radius);
    width: 100%;
  }
  .tabItem:hover {
    background-color: var(--dark-theme-hover-color);
  }
  .tabItem.active {
    border-color: var(--orange);
  }

  .animationContainer {
    display: none;
  }
}
