.settingsContainer {
  color: var(--white);
}

.sectionTextHeader {
  font-size: var(--font-size-lg);
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
}

.tabBarWrapper {
  position: relative;
  width: 100%;
  border-bottom: 2px solid var(--faded-white);
  user-select: none;
  margin: var(--spacing-xl) 0;
}

.tabBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tabItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 12px;
  cursor: pointer;
  transition: color 0.2s ease, opacity 0.2s ease;
  font-weight: 500;
  opacity: var(--opacity);
  flex: 0 0 20%;
}

.tabItem:hover {
  opacity: 1;
}

.active {
  color: var(--white);
  opacity: 1 !important;
}

.animationContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: calc(100% / 5);
  background-color: var(--white);
  transform: translateX(0%);
  transition: transform 0.2s ease-in-out;
  border-radius: var(--border-radius);
}

/* Social Section */

.socialFormContainer {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-xl);
  background-color: var(--soft-dark);
  padding: 12px 16px;
  border-radius: var(--border-radius);
  max-width: 1024px;
}
