.socialFormContainer {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-md);
    max-width: 768px;
    background-color: var(--soft-dark);
    border-radius: var(--border-radius);
    padding: var(--spacing-md) var(--spacing-xl);
}