.sidebarBox {
  display: flex;
  flex-direction: column;
  max-height: 768px;
  background-color: var(--soft-dark);
}

.headerBox {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  padding: 0 var(--spacing-md);
}

.scrollWrapper {
  max-height: 768px;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebarItem {
  margin-bottom: 10px;
}
