.dropZone {
  width: 100%;
  height: 192px;
  border: 2px solid var(--faded-white);
  border-radius: var(--border-radius);
  padding: var(--spacing-md) var(--spacing-lg);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out border-style 0.3s ease-in-out;
}

/* Dragging State */
.dropZone.dragging {
  background-color: var(--soft-dark);
  border-style: dashed;
}

/* Upload Box */
.uploadBox {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-md);
}

/* Instructions */
.instruction {
  font-size: var(--font-size-sm);
  opacity: var(--opacity);
}

.clickText {
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* Success Box */
.successBox,
.errorBox {
  margin: var(--spacing-md) 0;
  font-size: var(--font-size-sm);
}

.successBox,
.successIcon {
  color: var(--green);
}

/* Success */
.successIcon,
.errorIcon {
  width: 16px;
  height: 16px;
}

/* Error */
.errorBox,
.successBox {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.error,
.errorIcon {
  color: var(--red);
}

.sucessText {
  color: var(--green);
}

.errorText {
  color: var(--red);
}

/* Remove Button */
.removeBtn {
  display: flex;
  align-items: center;
  background: none;
  color: var(--white);
  gap: var(--spacing-sm);
  cursor: pointer;
  padding: var(--spacing-base);
  transition: opacity 0.3s ease-in-out;
  font-size: var(--font-size-sm);
}

.removeBtn:hover {
  opacity: var(--opacity);
}

/* Utility Classes */
.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textSmall {
  font-size: var(--font-size-sm);
}
