.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: var(--spacing-sm);
  width: 100%;
}

.label {
  font-size: var(--font-size-sm);
  font-weight: 400;
  letter-spacing: -0.01px;
  color: var(--white);
  opacity: 0.8;
}

.inputContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.input {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 8px;
  border-radius: var(--border-radius);
  border: 2px solid var(--dark);
  background-color: var(--white);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-size: var(--font-size-sm);
}

.input:focus {
  outline: none;
  border-color: var(--orange);
}

.input::placeholder {
  color: var(--font-primary-color);
  opacity: 0.8;
}

.inputError {
  border-color: var(--red);
  color: var(--red);
}

.errorContainer {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-sm);
  font-size: var(--font-size-sm);
  letter-spacing: -0.01px;
  color: var(--red);
  opacity: 0.8;
}

.errorIcon {
  color: var(--red);
  opacity: 0.8;
}

.eyeBtn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  color: var(--dark);
}
