.footer {
  border-top: 1px solid var(--faded-white);
  color: var(--white);
  opacity: var(--opacity);
  flex-direction: column;
  padding: 32px var(--spacing-md);
  display: flex;
  align-items: center;
}

.navBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.verticalBox {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-md);
}

.verticalBox a {
  transition: color 0.1s ease-in-out;
}

.verticalBox a:hover,
.socialItem:hover svg {
  color: var(--orange);
}

.socialItem {
  display: flex;
  align-items: center;
  gap: var(--spacing-base);
}

.onboardingBox {
  margin-top: var(--spacing-4xl);
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-xl);
  row-gap: var(--spacing-base);
  width: 100%;
}

@media screen and (max-width: 576px) {
  .navBox {
    flex-direction: column;
    row-gap: var(--spacing-4xl);
  }
  .footer {
    margin-bottom: 108px;
  }
}
