.tabBox {
  display: flex;
  align-items: center;
  position: relative;
}

.tabItem {
  flex: 1;
  font-size: var(--font-size-md);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  font-weight: 500;
  padding: var(--spacing-sm) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-base);
  cursor: pointer;
  transition: background-color 0.2s;
  position: relative;
}

.tabItem:hover,
.tabItem.active {
  background-color: var(--dark-theme-hover-color);
}

.animationContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: var(--white);
  border-radius: var(--border-radius);
  transform: translateX(0%);
}

.contentWrapper {
  margin-top: var(--spacing-4xl);
}

.linkBox h2 {
  margin: 0;
}
