.mainBox {
  max-width: 1024px;
  margin: var(--spacing-4xl) auto;
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-lg);
}

.tabBox {
  display: flex;
  align-items: center;
  overflow: hidden;
  column-gap: var(--spacing-xxl);
  position: relative;
}

.btnTab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  padding: var(--spacing-md) var(--spacing-lg);
  font-size: var(--font-size-md);
  border-radius: var(--border-radius);
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease-in-out;
  color: var(--white);
  opacity: 0.5;
  border: 1px solid var(--faded-white);
  gap: var(--spacing-base);
}

.tabBox button:hover {
  background-color: var(--dark-theme-hover-color);
}

.active {
  background-color: var(--soft-dark);
  opacity: 1;
}

.notificationBox {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-lg);
}

.notFoundBox {
  font-size: var(--font-size-md);
  display: flex;
  align-items: center;
  gap: var(--spacing-base);
  margin: var(--spacing-xxl) auto;
  color: var(--white);
  opacity: var(--opacity);
}

@media screen and (max-width: 768px) {
  .tabBox {
    flex-direction: column;
    row-gap: var(--spacing-xl);
  }
  .tabBox button {
    width: 100%;
    font-size: var(--font-size-base);
  }
}
