.swiperWrapper {
  position: relative;
  padding: 0 5vw;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  gap: 48px;
  margin: 0 -5vw;
  padding: var(--spacing-md);
}

.swiperWrapper::before,
.swiperWrapper::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  z-index: 2;
  pointer-events: none;
  opacity: var(--opacity);
}

.swiperWrapper::before {
  left: 0;
  background: linear-gradient(to right, var(--background-color), transparent);
}

.swiperWrapper::after {
  right: 0;
  background: linear-gradient(to left, var(--background-color), transparent);
}

.container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.container a {
  border-radius: var(--border-radius);
}

.swiperWrapper a:hover {
  box-shadow: rgba(255, 165, 0, 1) 0px 10px 20px -4.8px;
  transform: translateY(-8px);
  transition: all 0.3s ease-in-out;
  transform: translateY(-8px);
  transition: all 0.3s ease-in-out;
}

.slide {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  height: 400px;
  min-height: 100%;
}

.slideImgWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: var(--spacing-md);
  border-radius: var(--border-radius);
}

.slideOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.slideImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
  border-radius: var(--border-radius);
}

.blogTitle {
  transform: translateY(50%);
  position: absolute;
  display: block;
  color: var(--white);
  z-index: 2;
  left: 16px;
}

/* 
Swiper Child component styles.
*/

/* --- Slider Dots ---- */
.dotsBox {
  top: 100%;
  left: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--spacing-xl) 0;
  gap: var(--spacing-md);
}

.dot {
  width: 16px;
  height: 16px;
  background-color: var(--faded-white);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.dot.active {
  background-color: var(--orange);
}

.controlBox {
  display: flex;
  align-items: center;
}

.controlBox {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 3;
  justify-content: space-between;
  padding: 0 var(--spacing-md);
  transform: translateY(-50%);
  pointer-events: none;
}

.controlBox button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--faded-white);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  pointer-events: auto;
  transition: background-color 0.2s ease-in-out;
}

.controlBox button:hover {
  background-color: var(--orange);
  cursor: pointer;
}

.controlBox button:hover svg {
  color: var(--white);
}

.swiperWrapper:hover .controlBox {
  display: flex;
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0;
  }
  .slide {
    padding-left: 0 !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .swiperWrapper {
    padding: var(--spacing-md);
  }

  .container {
    gap: var(--spacing-lg);
  }

  .swiperWrapper::before,
  .swiperWrapper::after {
    width: var(--spacing-xs);
  }

  .dotsBox {
    column-gap: var(--spacing-xl);
  }

  .blogTitle {
    left: var(--spacing-md);
  }
}

@media screen and (max-width: 575.98px) {
  .swiperWrapper {
    padding: 0;
  }

  .container {
    gap: 2px;
  }

  .swiperWrapper::before,
  .swiperWrapper::after {
    width: 10px;
  }

  .slide {
    padding-left: 10px !important;
  }
}
