.talkBox {
  border-bottom: 2px solid var(--faded-white);
  padding: var(--spacing-xl) 0;
  color: var(--white);
}

.talkBox,
.headerBox {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxl);
}

.headerBox {
  gap: var(--spacing-xxl);
}

.headerBox p {
  opacity: var(--opacity);
}

.footerBox {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--spacing-md);
  font-size: var(--font-size-sm);
  width: 100%;
  opacity: var(--opacity);
}

.footerBox .boxLeft,
.footerBox .boxRight {
  display: flex;
  align-items: center;
  gap: var(--spacing-xl);
  opacity: 1;
}

.footerBox picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.footerBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.countBox {
  display: flex;
  border: 1px solid var(--faded-white);
  padding: var(--spacing-sm);
  border-radius: var(--border-radius);
}

.boxLeft {
  align-items: center;
  column-gap: var(--spacing-4xl);
}

.boxLeft svg {
  width: 24px;
  height: 24px;
  transition: color 0.3s ease-in-out;
}

.boxLeft svg:hover {
  width: 24px;
  height: 24px;
  color: var(--orange);
  cursor: pointer;
}

.voteBox {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.linkBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.linkBox svg {
  width: 20px;
  height: 20px;
  transition: color 0.1s ease-in-out;
}

.linkBox svg:first-child {
  margin-right: var(--spacing-md);
}

.linkBox svg:hover {
  color: var(--orange);
}

.shareWrapper {
  position: relative;
  flex-shrink: 0;
}

.shareBox {
  position: absolute;
  top: calc(100% + 25px);
  right: 0;
  z-index: 99999;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-base);
  background: var(--soft-dark);
  border: 2px dashed var(--faded-white);
  border-radius: var(--border-radius);
  user-select: none;
}

.shareBox button {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  padding: var(--spacing-base);
  font-size: var(--font-size-sm);
  color: var(--white);
  background: none;
  border: 1px solid var(--faded-white);
  border-radius: var(--border-radius);
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.shareBox button:hover {
  background-color: var(--dark);
  color: var(--orange);
  cursor: pointer;
}

.shareBox button:hover svg {
  color: var(--orange);
}
