.blogBox figure {
  width: 100%;
  height: 768px;
  position: relative;
}

.userBox {
  width: 92px;
  height: 92px;
}

.detailBox .blogBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.blogBox .title {
  font-size: var(--font-size-lg);
  color: var(--white);
  margin: var(--spacing-xxl) 0;
}

.blogInfoContainer {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
}

.infoBox {
  display: flex;
  width: max-content;
  gap: var(--spacing-xl);
  color: var(--white);
}

.userBox {
  display: flex;
  align-items: center;
}

.userBox a {
  display: inline-block;
  font-size: var(--font-size-sm);
  line-height: 2;
  letter-spacing: var(--letter-spacing);
  border-radius: 50%;
  width: 128px;
  height: 128px;
  transition: color 0.3s ease-in-out;
}

.userBox a:hover {
  color: var(--orange);
}

.userBox picture {
  border-radius: 50%;
  position: relative;
  z-index: -1;
}

.userBox img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.detailBox {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-base);
  opacity: var(--opacity);
}

.detailBox span:nth-child(2) {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.innerBox {
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: var(--spacing-xl);
}

.recommendBox {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-xxl);
  max-height: max-content;
  overflow: hidden;
  position: sticky;
  top: 100px;
}

.latestBlogTextHeader {
  font-size: var(--font-size-lg);
  margin: var(--spacing-base) 0;
}

.latestBlogContainer {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-4xl);
  margin: var(--spacing-4xl) 0;
}

.commentContainer {
  margin-top: var(--spacing-4xl);
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-4xl);
}

.commentsHeaderBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.interestTextHeader {
  margin-top: 0;
}

.dividerLine {
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .contentWrapper {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  .contentWrapper {
    grid-template-columns: 7fr 3fr;
  }
}

@media screen and (max-width: 768px) {
  .blogBox figure {
    height: 500px;
  }

  .blogBox h1 {
    font-size: var(--font-size-lg);
    line-height: 1.5;
  }

  .infoBox {
    margin-top: var(--spacing-4xl);
  }

  .recommendBox {
    margin: var(--spacing-4xl) 0;
  }

  .headerSection {
    margin-bottom: var(--spacing-4xl);
  }

  .contentSection {
    margin-top: var(---spacing-4xl);
  }

  .latestBlogContainer h2 {
    font-size: var(--font-size-md);
  }

  .commentsHeaderBox {
    flex-direction: column;
    align-items: flex-start;
    margin: var(--spacing-xl) 0;
    row-gap: var(--spacing-lg);
  }
}
