.searchWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--spacing-base);
  border-radius: var(--border-radius);
  border: 2px solid var(--faded-white);
  background-color: var(--soft-dark);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  color: var(--white);
  min-width: 300px;
}

.searchWrapper:focus-within {
  border-color: var(--orange);
}

.searchIcon {
  color: var(--font-primary-color);
  opacity: var(--opacity);
  flex-shrink: 0;
  color: var(--white);
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: var(--font-size-sm);
  color: var(--white);
  padding: 0 var(--spacing-base);
}

.searchInput::placeholder {
  opacity: var(--opacity);
  font-style: italic;
  color: var(--white);
}
