.asideBox {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-md);
  height: max-content;
  overflow-y: scroll;
}

.headerBox {
  display: flex;
  align-items: center;
  gap: var(--spacing-base);
  margin-bottom: var(--spacing-xl);
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-4xl);
}
