.tooltipWrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltipText {
  visibility: hidden;
  width: max-content;
  height: max-content;
  background-color: var(--soft-dark);
  color: var(--white);
  text-align: center;
  border-radius: var(--border-radius);
  padding: var(--spacing-base) var(--spacing-md);
  position: absolute;
  z-index: 9999;
  white-space: nowrap;
  font-size: var(--font-size-sm);
  opacity: 1;
  transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
}

.tooltipWrapper:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.tooltipWrapper .tooltipText.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.top .tooltipText {
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: var(--spacing-base);
}

.right .tooltipText {
  top: 50%;
  left: 125%;
  transform: translateY(-50%);
  margin-left: var(--spacing-base);
}

.bottom .tooltipText {
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: var(--spacing-base);
}

.left .tooltipText {
  top: 50%;
  right: 125%;
  transform: translateY(-50%);
  margin-right: var(--spacing-base);
}
