.breadCrumbContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: var(--font-size-sm);
  color: var(--white);
  opacity: var(--opacity);
  width: max-content;
  user-select: none;
}

.breadCrumbContainer ol {
  display: flex;
  align-items: center;
}

.breadCrumbContainer ol li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.breadCrumbContainer li:hover {
  opacity: 1;
}

.breadCrumbContainer ol li::after {
  content: '>';
  margin: 0 var(--spacing-sm);
}

.breadCrumbContainer ol li:last-child::after {
  content: '';
}

.breadCrumbContainer ol li.active {
  font-weight: 500;
  color: var(--orange);
}

.breadCrumbContainer li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.1px;
  text-underline-offset: 4px;
}
