.sortBox {
  display: flex;
  align-items: center;
  color: var(--white);
  gap: var(--spacing-md);
}

.optionsWrapper {
  display: flex;
  align-items: center;
  color: var(--white);
  gap: var(--spacing-md);
}

.sortBox .optionBox {
  display: flex;
  align-items: center;
  font-size: var(--font-size-sm);
  border: 1px solid var(--faded-white);
  border-radius: var(--border-radius);
  padding: var(--spacing-sm);
  gap: var(--spacing-sm);
  transition: background-color 0.1s ease-in-out;
  user-select: none;
}

.sortBox svg {
  width: 16px;
  height: 16px;
  opacity: var(--opacity);
  color: var(--white);
}

.sortBox .optionBox:hover {
  background-color: var(--orange);
  cursor: pointer;
}
