.topbarBox {
  margin: var(--spacing-md) 0;
  user-select: none;
}

.topbarList {
  display: flex;
  align-items: center;
  width: 100%;
}

.tabItem {
  font-size: var(--font-size-sm);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: var(--spacing-base);
  padding: var(--spacing-base);
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s, background 0.3s;
}

.tabItem:hover {
  cursor: pointer;
  border-color: var(--orange);
}

.active {
  border-color: var(--orange);
}
