.commentBox {
  display: flex;
  align-items: center;
  font-size: var(--font-size-md);
}

.commentBox span {
  color: var(--orange);
  margin-right: var(--spacing-sm);
}

.commentBox svg {
  width: 24px;
  height: 24px;
  color: var(--white);
  margin-right: var(--spacing-sm);
}
