.formBox {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-xl);
  background-color: var(--soft-dark);
  border-radius: var(--border-radius);
  padding: var(--spacing-4xl);
}

.headerBox {
  display: flex;
  align-items: center;
}

.headerBox button {
  width: 32px;
  height: 32px;
  margin-right: var(--spacing-md);
}

.mainBox {
  margin: auto;
  max-width: 768px;
}

@media screen and (max-width: 1024px) {
  .formBox {
    padding: var(--spacing-xl);
  }
}
